@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* colors */
  --white: #ffffff;
  --green: #333d29;
  --coffee: #43281c;
  --vanilla: #f1e3d3;
  --lemon: #fbf2c0;
  --mocha: #7f4f24;
  --tan: #ddb892;
  --blue: #3e80b6;

  /* fonts */
  --decorative: "Montserrat", sans-serif;
  --sans: "Open Sans", sans-serif;

  /* font scale */
  --base-size: 1.2rem;
  --scale: 1.25;
  /* Generate sizes, element styles, and classes for h 1, h2, h3, body. Generate sizes for h4-h6, a small size, and a large size (classes not needed, just variables).
  See https://codepen.io/jen4web/pen/KKGpKBM as an example */

  /* other variables */
  --radius: 5px;
}

/* add border box sizing to the page */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  line-height: 1.5;
}

/* using the above variables and the HTML specified above, write CSS to style headings, text, links, images, figures, etc. */
